body {
  background-color: rgb(235, 235, 235);;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  margin: 0px;
}

.recipes {
  margin: 0px;
  margin: 0px;
  border: 2px solid black;
  display: flex;
  justify-content:space-between;
}

.link {
  border: 2px solid red;
  flex: 1;
  text-align: center;
}

a {
  color: rgb(207, 48, 0);
  font-size: 20px;
}

.header {
  text-align: center;
  color: #ffffff;
  background: #383838;
  margin: 0;
  padding: 15px;
}